/* HomePage.css */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap'); /* Cool font */

body {
  margin: 0;
  font-family: 'Roboto', sans-serif; /* Updated font */
  background-color: #fff; /* White background */
  color: #333; /* Dark text */
}

.home-container {
  padding: 20px;
  max-width:800px;
  margin: 0 auto;
  text-align: center;
}

.search-bar {
  margin-bottom: 20px;
}

.search-bar input {
  width: 50%; /* Reduced width of the search box */
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 5px;
  background-color: #f9f9f9; /* Light gray background for input */
  color: #333;
  font-size: 16px;
}

.search-bar input::placeholder {
  color: #777; /* Darker gray for placeholder text */
}

button {
  background-color: #f0f0f0; /* Light gray button */
  color: #333;
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s, border-color 0.3s;
}

button:hover {
  background-color: #333;
  color: #fff;
  border-color: #333;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  margin-top: 20px;
}

.grid-item {
  background-color: #f9f9f9; /* Light gray for grid item background */
  border: 1px solid #ddd;
  border-radius: 10px;
  padding: 20px;
  text-align: left;
  transition: transform 0.3s;
  position: relative; /* Enable positioning for the delete button */
}

.grid-item:hover {
  transform: scale(1.05); /* Slight zoom on hover */
}

.grid-item h3 {
  font-size: 18px;
  margin-bottom: 10px;
  color: #333; /* Dark text */
}

.grid-item a {
  color: #007bff; /* Blue color for links */
  text-decoration: none;
  word-wrap: break-word; /* Handle long URLs */
  display: block; /* Block display for better alignment */
  overflow: hidden; /* Prevent overflow */
  white-space: nowrap; /* Prevent wrapping */
  text-overflow: ellipsis; /* Ellipsis for overflowing text */
  max-width: 100%; /* Limit max width */
}

.grid-item a:hover {
  text-decoration: underline;
}

.grid-item img {
  max-width: 100%;
  border-radius: 5px;
  margin-top: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Subtle shadow for images */
}

.delete-button {
  background-color: #342828; /* Red for delete button */
  color: #fff;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  position: absolute; /* Positioning for bottom right */
  bottom: 10px; /* Bottom spacing */
  right: 10px; /* Right spacing */
  transition: background-color 0.3s;
}

.delete-button:hover {
  background-color: #d43f3f; /* Darker red on hover */
}

@media screen and (max-width: 768px) {
  .search-bar input {
    width: 80%; /* Full width on smaller screens */
  }

  .grid-item {
    padding: 15px;
  }
}
